@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-width: 950px;
  --text-primary: #b771e5;
  --bg-page: #fffbca;
}

body {
  font-family: Roboto;
  background: var(--bg-page);
  padding: 50px 0;
}
.MuiSelect-root {
  height: 34px;
}

.MuiCheckbox-root svg {
  color: var(--text-primary);
}

@layer utilities {
  .section {
    background: var(--bg-page);
    @apply px-[40px] py-[20px] border border-[#4635b1] shadow-[10px_10px_0px_-4px_#b771e5];
  }

  .section-heading {
    @apply text-5xl text-[--text-primary] font-light;
  }
}
